@{
    ViewBag.Title = "About";
//    Layout = "~View/Shared/_Layout2.cshtml";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

@section scripts
{
    <!--TEST SECTION-->
}
